<ng-container *ngIf="products.length != 0">
    <div class="container responsiveTable">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr. no</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products, let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img src="{{item.image}}" alt="" style="width: 120px;"></td>
                            <td style="width: 30%;">{{item.description}}</td>
                            <td style="width: 10%;"><strong>₹{{item.price}}</strong></td>
                            <td style="width: 10%;">
                                <button class="btn btn-sm btn-secondary" (click)="decreaseQuantity(item)">
                                  <i class="fas fa-minus"></i>
                                </button>
                                <span>{{item.quantity}}</span>
                                <button class="btn btn-sm btn-secondary" (click)="increaseQuantity(item)">
                                  <i class="fas fa-plus"></i>
                                </button>
                              </td>                                                          
                            <td style="width: 10%;">{{item.total}}</td>
                            <td><button class="btn btn-danger"><i class="fas fa-trash" (click)="removeProduct(item)"></i></button></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button class="btn btn-danger" (click)="removeAllProduct()">Empty Cart</button></td>
                            <td><button class="btn btn-warning" routerLink="/products">Shop more</button></td>
                            <td><button class="btn btn-success">Check Out</button></td>
                            <td><strong>Total: {{ allProducts | currency: 'INR' }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container-fluid cartempty">
        <div class="row">
            <div class="card">
                <h5 class="card-header"><strong>My Cart</strong></h5>
                <div class="card-body">
                  <img src="../../assets/home_images/emptycart.jpg" alt="">
                  <h1 class="card-title">Your cart is empty!!!</h1>
                  <p class="card-text">Add items to cart</p>
                  <a  class="btn btn-primary" routerLink="/products">Buy Products</a>
                </div>
              </div>
        </div>
    </div>
</ng-container>



