<!-- Out Brands -->
<div class="partners-section">
    <div class="row text-center py-3" id="ourClient" style="border: 1px solid black; border-bottom: none;">
        <div class="col-lg-6 m-auto">
            <h1 class="underline-animation">Our Brands</h1>
        </div>
    </div>
    <section class="container-fluid">
        <div class="our-clients">
            <ul class="partners-list row-sm-5">
                <li class="partner-item col-md-5 col-lg-2">
                    <img src="../../assets/Partners/Edelweiss.png" alt="">
                    <img src="../../assets/Partners/Edelweiss.png" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/accelit.png" alt="">
                    <img src="../../assets/Partners/accelit.png" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/hmg.png" alt="">
                    <img src="../../assets/Partners/hmg.png" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/javi.png" alt="">
                    <img src="../../assets/Partners/javi.png" alt="">
                </li>
                <!-- Repeat the pattern for other partners -->
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/kcil.png" alt="">
                    <img src="../../assets/Partners/kcil.png" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/sims.png" alt="">
                    <img src="../../assets/Partners/sims.png" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/klimapharma.jpg" alt="">
                    <img src="../../assets/Partners/klimapharma.jpg" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/softcore_solutions.jpg" alt="">
                    <img src="../../assets/Partners/softcore.jpg" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/yantra.jpg" alt="">
                    <img src="../../assets/Partners/yantra.jpg" alt="">
                </li>
            </ul>
        </div>
    </section>
    <hr>
  </div>
