<!-- Out Brands -->
<div class="partners-section">
    <div class="row text-center py-3" id="ourClient" style="border: 1px solid black; border-bottom: none;">
        <div class="col-lg-6 m-auto">
            <h1 class="underline-animation"><strong>Our Brands</strong></h1>
        </div>
    </div>
    <section class="container-fluid">
        <div class="our-clients">
            <ul class="partners-list row-sm-5">
                <li class="partner-item col-md-5 col-lg-2">
                    <img src="../../assets/Partners/bata.jpg" alt="">
                    <img src="../../assets/Partners/bata.jpg" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/allensolly.png" alt="">
                    <img src="../../assets/Partners/allensolly.png" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/h&m.jpg" alt="">
                    <img src="../../assets/Partners/h&m.jpg" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/nike.jpg" alt="">
                    <img src="../../assets/Partners/nike.jpg" alt="">
                </li>
                <!-- Repeat the pattern for other partners -->
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/peterengland.png" alt="">
                    <img src="../../assets/Partners/peterengland.png" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/levis.jpg" alt="">
                    <img src="../../assets/Partners/levis.jpg" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/puma.jpeg" alt="">
                    <img src="../../assets/Partners/puma.jpeg" alt="">
                </li>
                <li class="partner-item col-md-6 col-lg-3">
                    <img src="../../assets/Partners/zara.png" alt="">
                    <img src="../../assets/Partners/zara.png" alt="">
                </li>
            </ul>
        </div>
    </section>
    <hr>
  </div>
