<div class="text-white py-1">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/home_images/big-billion-days-2022-sale_1663819658737.jpeg" class="d-block w-100" alt="Image 1">
                <div class="carousel-content cartext">
                    <h2 class="text textcar">India’s Most Trusted Ecommerce platform!!!</h2>
                </div>
                <div class="carousel-button">
                    <a routerLink="/products" data-bs-toggle="modal" data-bs-target="#exampleModal"   class="btn btn-primary">Buy new Products</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- What We Do -->
<app-what-we-do></app-what-we-do>

