
<div class="container-fluid">
    <div class="row justify-content-center" >
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 me-5" *ngFor="let item of ProductData">
            <div (click)="redirectToDetailed(item.ProductId)" class="card box-shadow mx-auto my-3" style="width: 18rem;">
                <img [src]="item.ProductImages[0]?.ImageUrl"  class="card-img-top" alt="No Image Available" >

                <div class="card-body">
                    <h5 class="card-title" (click)="redirectToDetailed(item.ProductId)">{{item.ProductName}}
                        <hr>
                        <p class="card-text">
                            <strong>Price:</strong> 
                        </p>
                    </h5>
                    <!-- Product Information -->
                    <p class="card-text">
                        <strong>Category:</strong>
                        <strong>Model:</strong> 
                    </p>
                    <!-- <button class="btn btn-primary btn-block me-5">Add to Cart</button> -->
                    <button class="btn btn-primary ps-5 pe-5" (click)="redirectToDetailed(item.ProductId)" >View</button>
                </div>
            </div>
        </div>
    </div>
</div>

